@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    flex-grow: 1;
}

.header, .main, .footer {
    background: #1f2937;
    padding: 40px;
    display: flex;
    
}

.header-text, .main-words {
    color: #f9faf8;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

}

.header-text {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 10px; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.header-links {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.main-words {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}


.main-text {
    font-size: 18px;

}

.main-image {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 200px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }

.share-button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.info-section {
    display: flex;
    padding: 40px;
    flex-direction: column;
}


.info-title {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.info {
    display: flex;
    text-align: center;
    padding: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    flex-grow: 1;

}

.info-points {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 150px;
    height: 150px;

}

.info-desc {
    max-width: 1000px;
  }

  .quote {
    background: #e5e7eb;
    color: #1f2937;
    display: flex;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
  }

  .quote-text {
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
  }

  .quote-author {
    font-size: 18px;
    font-weight: bold;
  }

.bottom {
    background: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}


  .bottom-section {
    background: royalblue;
    max-height: 200px;
    display: flex;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px;    
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
  }

  
  .join-button {
    background: royalblue;
    border: 1px solid white;
    color: white;
    
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
}