@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header, .main, .footer {
    background: #1f2937;
    padding: 40px;
}

.header-text, .main-words {
    color: #f9faf8;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 10px; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main-image {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 200px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.main-words {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}