@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header, .main, .footer {
    background: #1f2937;
    padding: 40px;
}

.header-text, .main-words {
    color: #f9faf8;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 10px; 
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.header-links {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-words {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}


.main-text {
    font-size: 18px;

}

.main-image {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 200px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }

.share-button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    flex: none;
}

.info {
    text-align: center;
    padding: 40px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.info-points {
    display: flex;
    justify-content: center;
    gap: 52px;
}